html {
  background-color: #6098ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%237ea7fd' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%2397b5fa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23acc2f8' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23bfcef5' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23d0d9f3' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23dfe4f1' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.logo img {
  max-width: 135px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 60px;
}

.conteudo {
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.conteudo div {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px;
}

.conteudo h3,
.info {
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.conteudo p {
  text-align: center;
  color: black;
  font-size: 19px;
  font-weight: 500;
}

.form {
  background: rgb(32, 32, 32);
  border: #3a3a3a solid 3px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  height: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  border-radius: 200px;
  border: 0;
  padding: 8px 10px;
  box-shadow: inset 0px 1px 4px rgb(0 0 0 / 75%);
}

input:focus {
  outline: none;
}

.form label {
  display: block;
}

.form button {
  width: 80%;
  border: none;
  margin: 20px auto 10px auto;
  display: block;
  padding: 15px;
  border-radius: 200px;
  padding: 10px 0;
  background: #34aef0;
  color: white;
}

button {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

button:focus {
  transform: translateY(3px);
  background: #54c1fc;
}

.aceite {
  font-size: 14px;
}

@media (max-width: 500px) {
  .conteudo div {
    width: 100%;
  }
  #top {
    padding-top: 450px;
    padding-bottom: 50px;
    height: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
